@model Wedding.Core.Models.PaymentAccount
<input type="hidden" id="title" value="ویرایش شماره حساب" />
<form asp-action="EditPaymentAccount" method="post" id="form">
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="CustomerId"/>
    <input type="hidden" asp-for="InsertDate"/>
    <input type="hidden" asp-for="InsertUser"/>
    <div class="form-group">
        <label asp-for="CardNumber" class="control-label col-md-12">شماره کارت *</label>
        <div class="col-md-12">
            <input asp-for="CardNumber" class="form-control" disabled="disabled"/>
            <span asp-validation-for="CardNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label col-md-12"></label>
        <div class="col-md-12">
            <select asp-for="Status" class="form-control">
                <option value="@(ApprovalStatus.Approved)" selected="@(PaymentAccountStatus.Approved == Model.Status)">تایید شده</option>
                <option value="@(ApprovalStatus.Pending)" selected="@(PaymentAccountStatus.Pending == Model.Status)">در انتضار بررسی</option>
                <option value="@(ApprovalStatus.Rejected)" selected="@(PaymentAccountStatus.Rejected == Model.Status)">رد شده</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div style="float: left">
            <input type="submit" value="ثبت" class="btn btn-primary mr-2"/>
        </div>
    </div>
</form>
<script>
    $.validator.unobtrusive.parse("#form");
    $('#form').submit(function (e) {
        e.preventDefault();
        if ($('#form').valid()) {
                $.ajax({
                    type: 'POST',   
                    url: "/Apanel/Wallets/EditPaymentAccount",
                    data: $(this).serialize(),
                    dataType: 'json',   
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                }).done(function (response) {
                    if (response.status === "Success") {
                        loadPaymentAccounts();
                        $("#myModal").modal('hide');
                        toastr.success(response.message, "تایید");
                    } else {
                        toastr.error(response.message, "خطا");
                    }
                });
        }
    });
</script>