@model CustomerDetailsDto
<h5 class="card-title d-flex justify-content-between align-items-center m-b-50">
    اطلاعات مشتری
    <span>
        <a onclick="btnEditCustomer(@Model.Id)" class="btn-sm primary-font text-primary" style="cursor:pointer">
            <i class="ti-pencil m-l-5 p-t-5"></i> ویرایش
        </a>
        @*<a href="#" class="btn-sm text-danger primary-font">
            <i class="ti-trash m-l-5"></i> حذف
        </a>*@
    </span>

</h5>
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <figure class="avatar avatar-xxl m-b-50">
                <img src="/UploadedFiles/Images/@Model.Image" class="rounded-circle" alt="@Model.FirstName">
            </figure>
        </div>
    </div>
    <div class="offset-md-3"></div>
    <div class="col-md-5">

        <div class="row mb-3">
            <div class="col-6 text-muted">نام:</div>
            <div class="col-6">@Model.FirstName</div>
        </div>
        <div class="row mb-3">
            <div class="col-6 text-muted">نام خانوادگی:</div>
            <div class="col-6">@Model.LastName</div>
        </div>
        <div class="row mb-3">
            <div class="col-6 text-muted">نام مجموعه:</div>
            <div class="col-6">@Model.JobTitle</div>
        </div>
        <div class="row mb-3">
            <div class="col-6 text-muted">شماره همراه:</div>
            <div class="col-6">@Model.PhoneNumber</div>
        </div>
        <div class="row mb-3">
            <div class="col-6 text-muted">شغل:</div>
            <div class="col-6">@Model.JobType</div>
        </div>
        <div class="row mb-3">
            <div class="col-6 text-muted">شهر یا منطقه:</div>
            <div class="col-6">@Model.Region</div>
        </div>
        <div class="row mb-3">
            <div class="col-6 text-muted">آدرس:</div>
            <div class="col-6">@Model.Address</div>
        </div>
        <div class="row mb-3">
            <div class="col-6 text-muted">ایمیل:</div>
            <div class="col-6">@Model.Email</div>
        </div>
    </div>
</div>