@model Wedding.Core.Models.Ad
@{
    ViewBag.Title = "جزئیات آگهی";
}
@if (ViewBag.Referer == "customer")
{
    <input type="hidden" id="nav_active" value="customers">
    <input type="hidden" id="nav_item_active" value="customers">
}
else
{
    <input type="hidden" id="nav_active" value="ad_control">
    <input type="hidden" id="nav_item_active" value="ads">
}
<div class="page-header">
    <div>
        <h3>@ViewData["Title"]</h3>
        <nav aria-label="breadcrumb">
            @if (ViewBag.Referer == "customer")
            {
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Home" asp-action="Index">داشبورد</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Customers" asp-action="Index">مشتریان</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Customers" asp-action="Details" asp-route-id="@ViewBag.CustomerId">جزئیات مشتری</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">@ViewData["Title"]</a></li>
                </ol>
            }
            else
            {
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Home" asp-action="Index">داشبورد</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="ََAds" asp-action="Index">آگهی ها</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            }

        </nav>
    </div>
    <a type="button" class="btn btn-success text-white">
        ارتقا آگهی
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div id="image-container">
                    @await Html.PartialAsync("_SpinnerPartial", "imageSpinner")
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="ad-status">
                    @await Html.PartialAsync("_SpinnerPartial", "adStatusSpinner")
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div id="ad-info">
                    @await Html.PartialAsync("_SpinnerPartial", "adInfoSpinner")
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center m-b-50">
                    گالری تصاویر
                    <span>
                        <a onclick="" class="btn btn-sm primary-font text-success" style="cursor: pointer">
                            <i class="ti-plus m-l-5"></i> افزودن تصویر
                        </a>
                    </span>

                </h5>
                <div class="gallery-grid">
                    <div class="item">
                        <img src="/UploadedFiles/Images/no-photo.png" />
                    </div>
                    <div class="item">
                        <img src="/UploadedFiles/Images/no-photo.png" />
                    </div>
                    <div class="item">
                        <img src="/UploadedFiles/Images/no-photo.png" />
                    </div>
                    <div class="item">
                        <img src="/UploadedFiles/Images/no-photo.png" />
                        <span class="status">در انتضار بررسی</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("AdInfo","Ads", new { id = ViewBag.Id  })",
                success: function (result) {
                    $("adInfoSpinner").show();
                    $("#ad-info").html(result);
                }
            });
            $.ajax({
                url: "@Url.Action("AdStatus","Ads", new { image = ViewBag.Id  })",
                success: function (result) {
                    $("adStatusSpinner").show();
                    $("#ad-status").html(result);
                }
            });
            $.ajax({
                url: "@Url.Action("AdImage","Ads", new { id = ViewBag.Id })",
                success: function (result) {
                    $("#imageSpinner").show();
                    $("#image-container").html(result);
                }
            });
        });
        function btnEditImage() {
            $("#image-container").hide();
            $("#imageSpinner").show();
            $.ajax({
                url: "@Url.Action("EditImage","Ads", new { ViewBag.Id })",
                success: function (result) {
                    $("#imageSpinner").hide();
                    $("#image-container").show();
                    $("#image-container").html(result);
                }
            });
        }
        function btnCancel() {
            $.get("/Apanel/Ads/AdImage/@(ViewBag.Id)",
                function(data) {
                    $("#image-container").html(data);
                });
        }
    </script>
    }