@model Wedding.Core.Models.Ad
@{
    ViewBag.Title = "جزئیات آگهی";
}
@section Header
{
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css' rel='stylesheet' />
    
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
}
@if (ViewBag.Referer == "customer")
{
    <input type="hidden" id="nav_active" value="customers">
    <input type="hidden" id="nav_item_active" value="customers">
}
else
{
    <input type="hidden" id="nav_active" value="ad_control">
    <input type="hidden" id="nav_item_active" value="ads">
}
<div class="page-header">
    <div>
        <h3>@ViewData["Title"]</h3>
        <nav aria-label="breadcrumb">
            @if (ViewBag.Referer == "customer")
            {
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Home" asp-action="Index">داشبورد</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Customers" asp-action="Index">مشتریان</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Customers" asp-action="Details" asp-route-id="@ViewBag.CustomerId">جزئیات مشتری</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">@ViewData["Title"]</a></li>
                </ol>
            }
            else
            {
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Home" asp-action="Index">داشبورد</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Ads" asp-action="Index">آگهی ها</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            }

        </nav>
    </div>
    <a type="button" class="btn btn-success text-white">
        ارتقا آگهی
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "imageSpinner")
                <div id="image-container">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "adStatusSpinner")
                <div id="ad-status">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                    دسترسی سریع
                </h5>
                <div class="row mb-2">
                    <div class="col-6">
                        <a class="btn btn-primary text-white btn-block m-5">درخواست قیمت</a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-warning text-white btn-block m-5">درخواست رزرو</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-info text-white btn-block m-5">نظرات</button>
                    </div>
                    <div class="col-6"></div>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "adInfoSpinner")
                <div id="ad-info"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "gallerySpinner")
                @if (ViewBag.AdType == AdType.Free)
                {
                    <div class="premium-disable">
                        <span>آگهی ویژه</span>
                    </div>
                }
                <div id="ad-gallery"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "locationSpinner")
                @if (ViewBag.AdType == AdType.Free)
                {
                    <div class="premium-disable">
                        <span>آگهی ویژه</span>
                    </div>
                }
                <div id="ad-location"></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function loadInfo() {
            $.ajax({
                url: "@Url.Action("AdInfo","Ads", new { id = ViewBag.Id  })",
                success: function (result) {
                    $("#adInfoSpinner").hide();
                    $("#ad-info").show();
                    $("#ad-info").html(result);
                }
            });
        }

        function loadStatus() {
            $.ajax({
                url: "@Url.Action("AdStatus","Ads", new { id = ViewBag.Id  })",
                success: function (result) {
                    $("#adStatusSpinner").hide();
                    $("#ad-status").show();
                    $("#ad-status").html(result);
                }
            });
        }

        function loadImage() {
            $.ajax({
                url: "@Url.Action("AdImage","Ads", new { id = ViewBag.Id })",
                success: function (result) {
                    $("#imageSpinner").hide();
                    $("#image-container").show();
                    $("#image-container").html(result);
                }
            });
        }
        function loadGallery() {
            $.ajax({
                url: "@Url.Action("AdGallery","Ads", new { id = ViewBag.Id })",
                success: function (result) {
                    $("#gallerySpinner").hide();
                    $("#ad-gallery").show();
                    $("#ad-gallery").html(result);
                }
            });
        }
        function loadLocation() {
            $.ajax({
                url: "@Url.Action("Location","Ads", new { id = ViewBag.Id })",
                success: function (result) {
                    $("#locationSpinner").hide();
                    $("#ad-location").show();
                    $("#ad-location").html(result);
                }
            });
        }
        $(document).ready(function () {
            loadInfo();
            loadStatus();
            loadImage();
            loadGallery();
            loadLocation();
        });
        function btnEditImage() {
            $("#image-container").hide();
            $("#imageSpinner").show();
            $.ajax({
                url: "@Url.Action("EditImage","Ads", new { ViewBag.Id })",
                success: function (result) {
                    $("#imageSpinner").hide();
                    $("#image-container").html(result);
                    $("#image-container").show();
                }
            });
        }
        function btnCancel() {
            $("#imageSpinner").show();
            $("#image-container").hide();
            loadImage();
        }
    </script>
    }