@model Wedding.Core.Models.Ad
@{
    ViewBag.Title = "جزئیات آگهی";
}
@if (ViewBag.Referer == "customer")
{
    <input type="hidden" id="nav_active" value="customers">
    <input type="hidden" id="nav_item_active" value="customers">
}
else
{
    <input type="hidden" id="nav_active" value="ad_control">
    <input type="hidden" id="nav_item_active" value="ads">
}
<div class="page-header">
    <div>
        <h3>@ViewData["Title"]</h3>
        <nav aria-label="breadcrumb">
            @if (ViewBag.Referer == "customer")
            {
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Home" asp-action="Index">داشبورد</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Customers" asp-action="Index">مشتریان</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Customers" asp-action="Details" asp-route-id="@ViewBag.CustomerId">جزئیات مشتری</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">@ViewData["Title"]</a></li>
                </ol>
            }
            else
            {
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="Home" asp-action="Index">داشبورد</a></li>
                    <li class="breadcrumb-item"><a asp-area="apanel" asp-controller="ََAds" asp-action="Index">آگهی ها</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            }

        </nav>
    </div>
    <a type="button" class="btn btn-success text-white">
        ارتقا آگهی
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "imageSpinner")
                <div id="image-container">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "adStatusSpinner")
                <div id="ad-status">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "adInfoSpinner")
                <div id="ad-info"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_SpinnerPartial", "gallerySpinner")
                <div id="ad-gallery"></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function loadInfo() {
            $.ajax({
                url: "@Url.Action("AdInfo","Ads", new { id = ViewBag.Id  })",
                success: function (result) {
                    $("#adInfoSpinner").hide();
                    $("#ad-info").show();
                    $("#ad-info").html(result);
                }
            });
        }

        function loadStatus() {
            $.ajax({
                url: "@Url.Action("AdStatus","Ads", new { image = ViewBag.Id  })",
                success: function (result) {
                    $("#adStatusSpinner").hide();
                    $("#ad-status").show();
                    $("#ad-status").html(result);
                }
            });
        }

        function loadImage() {
            $.ajax({
                url: "@Url.Action("AdImage","Ads", new { id = ViewBag.Id })",
                success: function (result) {
                    $("#imageSpinner").hide();
                    $("#image-container").show();
                    $("#image-container").html(result);
                }
            });
        }
        function loadGallery() {
            $.ajax({
                url: "@Url.Action("AdGallery","Ads", new { id = ViewBag.Id })",
                success: function (result) {
                    $("#gallerySpinner").hide();
                    $("#ad-gallery").show();
                    $("#ad-gallery").html(result);
                }
            });
        }
        $(document).ready(function () {
            loadInfo();
            loadStatus();
            loadImage();
            loadGallery();
        });
        function btnEditImage() {
            $("#image-container").hide();
            $("#imageSpinner").show();
            $.ajax({
                url: "@Url.Action("EditImage","Ads", new { ViewBag.Id })",
                success: function (result) {
                    $("#imageSpinner").hide();
                    $("#image-container").html(result);
                    $("#image-container").show();
                }
            });
        }
        function btnCancel() {
            $("#imageSpinner").show();
            $("#image-container").hide();
            loadImage();
        }
    </script>
    }